[submodule "_assets/plugin/reveal.js-plugins"]
	path = _assets/plugin/reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins/
[submodule "_assets/plugin/reveal.js-menu"]
	path = _assets/plugin/reveal.js-menu
	url = https://github.com/denehyg/reveal.js-menu
[submodule "_assets/plugin/reveal.js-toc-progress"]
	path = _assets/plugin/reveal.js-toc-progress
	url = https://github.com/e-gor/Reveal.js-TOC-Progress
[submodule "_assets/plugin/reveal.js-d3"]
	path = _assets/plugin/reveal.js-d3
	url = https://github.com/gcalmettes/reveal.js-d3
