
/* This is a hack I read on 
   https://www.raymondcamden.com/2016/09/06/adding-opacity-to-a-background-image-in-revealjs
*/
.dim-background .backgrounds {
	opacity: 0.5 !important;
   -webkit-filter: blur(4px) saturate(.5) brightness(.8);
   -moz-filter: blur(4px) saturate(.7) brightness(.9);
   -o-filter: blur(4px) saturate(.7) brightness(.9);
   -ms-filter: blur(4px) saturate(.7) brightness(.9);
   filter: blur(4px) saturate(.7) brightness(.9);
}

.reveal {
    background-color: #000000;
    background-color: #00002a;
    /* opacity: 0.8; */
    background-size: 12px 12px;
    /* background-image: repeating-linear-gradient(45deg, #383a89 0, #383a89 1.2000000000000002px, #000000 0, #000000 50%); */
}

.slides {
    font-size: 0.75em;
}

/* Reveal Menu styling */

.slide-menu-wrapper .slide-menu-panel.active-menu-panel {
    background-color: black;
}

/* Two columns, non-grid design */

.slides #left {
	margin: 10px 0 15px 20px;
	/* text-align: left; */
	float: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
    border-right: 1px solid white;
}

.slides #left li {
    list-style-type: none;
}

.slides #right {
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
}

.slides #right li {
    list-style-type: none;
}

/* Let's try this strong coloring */
.slides strong {
    color: #ff8a2e;
}

/*********************************************
 * Slide numbers
 *********************************************/

.reveal .slide-number {
    display: inline-block;
    right: 37px;
    bottom: 20px;
    text-align: center;
    line-height: 0px;
    border-radius: 50%;
    font-size: 12px;
    width: 36px;
    height: 36px;
    font-size: 10px;
    background: none;
    color: var(--r-link-color);
}

.reveal .slide-number span {
    margin: 0;
    padding: 0;
}

.reveal .slide-number a {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
}

/*********************************************
 * Kbd for key strokes
 *********************************************/

kbd {
  display: inline-block;
  padding: 2px 14px;
  background-color: darkgray;
  font-family: Arial, sans-serif;
  border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  text-shadow: none;
	font-size: 0.85em;
	font-weight: 700;
	white-space: nowrap;
}

/*********************************************
 * Inline code
 *********************************************/

/* 
Inline code is also used to escape math blocks. 
The rendered math is then embedded within a span 
and should not receive the code background.
*/
code:not(:empty):not(:has(*)):not(pre code) {
  background-color: darkgray;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  text-shadow: none;
  font-family: courier;
}


/*********************************************
 * Fragments
 *********************************************/

.reveal .slides section .fragment.appear-disappear {
	opacity: 0;
	display: none; }
.reveal .slides section .fragment.appear-disappear.current-fragment {
	opacity: 1;
	display: inline; }

/*********************************************
 * Print
 *********************************************/

@media print {
	.presentation-only, .audio-controls, .slide-menu-button, .slide-number {
		display: none!important; 
	}
}


